* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: black;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

.navbar-nav{
	color: white;
	font-family: Punkboy, sans-serif;
	font-size: 25px;
}

.nav1, .nav2, .nav3, .nav4{
	text-decoration: none;
	color: white;
}


// navbar
/*nav. bar*/

.inner_main_menu {
	margin: 0 auto;
	width: 1170px;
	font-family: "punkboy", sans-serif;
}

.inner_main_menu a{
	color: white;
}

.inner_main_menu li{
	background-color: black;
}


.inner_main_menu ul{
	margin: 0;
	Padding: 0;
	list-style: none;
	text-align: right;
}
.inner_main_menu ul li{
	float: none;
	display: inline-block;
}

.inner_main_menu ul li:nth-child(1){
	float: left;
}

.inner_main_menu ul li:nth-child(2){
	float: left;
}

.inner_main_menu ul li a{
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
	display:block;
	padding: 10px 20px;

}


.inner_main_menu ul li a:hover{
	color: none;

}

.boks {
	border: 3px solid white;
	margin: 10px;
}

#main_menu{
	width: 100%;
	position: relative;
}

.logo_area{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -50px;
	text-align: center;
}

#logo {
	height: 150px;
}
// navbar


.navbar-nav:hover{
	transition: 0.3s ease-in-out;
	color: red;
}

.navbar-toggler {
	color: white;
}

.title{
	font-size: 50px;
}
.card-title{
	font-family: Punkboy, sans-serif !important;
	font-size: 30px;
}




#firstName{
	color: red !important;
}

.bi-arrow-up{
	text-decoration: none;
}

.social{
	cursor: pointer;
	font-size: 20px;
}
.social a{
	color: darkred;
}

.scroll-to-top{
	font-family: sans-serif;
	font-size: 50px;
	color: white;
}
.scroll-to-top a{
	color: inherit;
	text-decoration: none;
}

.copyright{
	font-size: 30px;
}
// kontakt



.scroll-to-top{
	font-family: sans-serif;
	font-size: 15px;
}

.scroll-to-top a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.kontakt-os{
	font-family: Punkboy, sans-serif;
	font-size: 70px;
}

.button{
	cursor: pointer;
	border: none;
}

.number{
	font-size: 16px;
	cursor: pointer;
}

.kontakt{
	font-size: 20px;
}




.køb{
	cursor: pointer;
	font-size: 30px;

}

.btn{
	cursor: pointer;
	overflow: hidden;
}

.shirts{
	font-size: 30px;
}

.head{
	font-size: 50px;
	font-family: Punkboy, sans-serif;
}

.gray{
	filter: grayscale(100%);
}
.card-body{
	overflow: hidden;
	display: block;
}

svg{
	color: white;
	cursor: pointer;
}

.gul:hover{
	background-image: url("images/gulcd2.png");
}

.bi-facebook{
	cursor: pointer;
}

.card{
	position: relative;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-color: black;
	border-width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #e50000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background:red ;
}

@media screen and (min-width: 320px){
	.kontakt-os{
		font-size: 40px;
	}
}

@media screen and (min-width: 768px){
	.card-title{
		font-family: 10px;
	}
}

// test
.picture2 {
    display: none;
	opacity: 2;
	transition: 4s ease-in-out;

}
.thumbnail:hover .picture1 {
    display: none;
}
.thumbnail:hover .picture2 {
    display: block;
}

.form-check-input{
	background-color: darkred !important;
	border-color: darkred !important;
}

